/* stili css */

body {
	background-image: url("images/netflix.jpg");
	height: 600px;
	width: 100%; /*responsive images*/
	background-position: center; 
	background-repeat: no-repeat; 
	background-size: cover;
}